.book_requests_table {
    max-width: 90%;
    
}

.book_requests_table th{
    text-align: left;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 1.3em;
    padding: 0 0.5em;
}

.book_requests_table td{
    color: inherit;
    text-decoration: none;
    padding: 0 0.5em;
}

.red {
    color: red;
}
