/* Book Page */
.large_book_cover{
    display: inline-block;
}
.large_book_cover img{
    width: 150px;
}

@media (max-width: 1000px){
    .large_book_cover img{
        max-width: 90%;
    }
}

.book_details {
    display: inline-block;
    max-width: calc(100% - 170px);
    padding: 1em;
    vertical-align: top;
}
.book_current_loans{
    max-width: 500px;
}
.book_current_loans table{
    table-layout: fixed;
    border-collapse: collapse;
}

.book_current_loans th, .book_current_loans td {
    padding: 0.5em;
    text-align: left;
}

.user_book_details .book_details {
    max-width: calc(100% - 375px);
    min-width: calc(100% - 400px);
}
.user_book_info {
    display: inline-block;
    max-width: 200px;
    vertical-align: top;
    margin-top: 3em;
}

.user_book_info ul{
    list-style-type: none;
    padding: 0;
}

.user_book_info a{
    color: inherit;
    text-decoration: none;
}

.librarian_book_details .book_details{
    max-width: calc(100% - 375px);
    min-width: calc(100% - 400px);
}
.librarian_book_options {
    display: inline-block;
    max-width: 200px;
    vertical-align: top;
    margin-top: 3em;
}
.librarian_book_options ul {
    list-style-type: none;
    padding: 0;
}

.librarian_book_options li:hover {
    text-decoration: underline;
    color: var(--mid-blue);
    cursor: pointer;
}
.add_copy_container .form{
    display: none;
    padding: 0.5em;
}
 .active .form{
    display: block;
}