/* Book Page */
.large_book_cover{
    display: inline-block;
    width: 200px;
    align-self: center;
}
.large_book_cover img{
    display: block;
    width: 100%;
    height: auto;
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

@media (max-width: 1000px){
    .large_book_cover img{
        max-width: 90%;
    }
}

.book_details_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.book_details {
    overflow: auto; 
    display: block;
    width: 100%;
    padding: 1em;
    grid-column: 1/span 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.book_info {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
}


.book_current_loans{
    max-width: 500px;
}
.book_current_loans table{
    table-layout: fixed;
    border-collapse: collapse;
}

.book_current_loans th, .book_current_loans td {
    padding: 0.5em;
    text-align: left;
}

.user_book_details .book_details {
    max-width: calc(100% - 375px);
    min-width: calc(100% - 400px);
}
.user_book_info {
    display: inline-block;
    max-width: 200px;
    vertical-align: top;
    margin-top: 3em;
}

.user_book_info ul{
    list-style-type: none;
    padding: 0;
}

.user_book_info a{
    color: inherit;
    text-decoration: none;
}

.librarian_book_options {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    display: inline-block;
    max-width: 200px;
    vertical-align: top;
    margin-top: 3em;
}
.librarian_book_options ul {
    list-style-type: none;
    padding: 0;
}

.librarian_book_options li:hover {
    text-decoration: underline;
    color: var(--mid-blue);
    cursor: pointer;
}
.add_copy_container .form{
    display: none;
    padding: 0.5em;
}
 .active .form{
    display: block;
}

.copy_list_table {
    max-width: 90%;
    
}

.copy_list_table th{
    text-align: center;
    font-weight: normal;
    font-variant: small-caps;
    padding: 2.0 2.0em;
    font-size: 1.3em;
}

.copy_list_table td{
    padding: 0 0.5em;
    text-align: center;

}

.copy_list_table td a{
    color: inherit;
    text-decoration: none;
}

.book_loans_table {
    width: 70%;
}

.book_loans_table th{
    width: auto;
    text-align: left;
    font-weight: normal;
    font-variant: small-caps;
    padding: 0 0.5em;
    font-size: 1.2em;
}

.book_loans_table td{
    padding: 0 0.5em;
}

.book_loans_table td a{
    color: inherit;
    text-decoration: none;
}