@import "header.css";
@import "sidebar.css";
@import "book_display.css";
@import "book_page.css";
@import "book_requests.css";
@import "forms.css";
@import "user_list.css";
@import "user_account.css";

:root {
    --text-color: #030303;
    --text-color-transparent: rgba(3, 3, 3, 0.77);
    --dark-blue: #4F6272;
    --mid-blue: #4C7281;
    --light-blue: #97ABB1;
    --cream: #F0EEDE;
    --sidebar-text-color: #fefefe;
}

* {
    box-sizing: border-box; 
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#left_column {
    flex-grow: 1;
}

#right_column {
    flex-shrink:0;
    max-width: 20%;
}

/* Main page styling */
.main_page {
    padding: 1em 2em;
    top: 200px;
    clear: left;
    flex-grow: 1;
    overflow-y: auto;
}

.main_page a{
    color: inherit;
    text-decoration: none;
}

.main_page a:hover {
    text-decoration: underline;
    color: var(--mid-blue);
}

h2 {
    font-variant: small-caps;
    font-weight: normal;
}

h3 {
    font-variant: small-caps;
    font-weight: normal;
}
