/* Header Styling */
.header_bar {
    padding: 1.5em;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 125px;
}

.logo_container {
    display: inline-block;
    margin-right: 1em;
}
#logo {
    max-height: 90px;
    margin: 0.2em 0;
    float: left;
}
.logo_container h1{
    font-size: 1.8em;
    font-weight: normal;
    font-variant: small-caps;
    padding: 0.2em;
    margin: 0;
    margin-top: 0.4em;
    color: var(--text-color);
    display: inline-block;
}
@media (max-width: 1000px) {
    #logo {
        max-width: 60%;
    }
}
.search_container {
    display: inline-block;
    flex-grow: 2;
}
.search_bar {
    height: 2em;
    border: var(--dark-blue) 1.2px solid;
    border-radius: 2.5px;
    margin-top: 1em;
}

.search_bar #search_input{
    width: 80%;
    height: 100%;
    border: none;
    padding: 0.8em;
    font-size: 1em;
    color: var(--text-color-transparent);
    opacity: 0.8;
}

.search_bar #search_button{
    height: 100%;
    width: 20%;
    border: none;
    background-color: var(--mid-blue);
    color: var(--sidebar-text-color);
    float: right;
    font-size: 1.1em;
    letter-spacing: 0.12em;
    font-variant: small-caps;
}