/* Search Results */

.search_results ul{
    list-style-type: none;
    padding: 1em;
}

.search_results li{
    margin-bottom: 1em;
}

.search_results h3, .search_results h4, .search_results p {
    margin: 0.2em;
}

.search_results a {
    color: var(--text-color);
    text-decoration: none;
}
