/* Sidebar Styling */

.side_bar {
    padding: 1.5em;
    height: 100%;
    margin: 0;
    background-color: var(--mid-blue);
    color: var(--sidebar-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width:1000px){
    .side_bar{
        padding: 1em;
    }
}

@media (max-width: 850px){
    .side_bar {
        padding: 0.5em;
    }
}

.login_container {
    margin-bottom: 1em;
}

.login_container div{
    margin-top: 0.5em;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.login_container label{
    margin-right: 0.5em;
}

.login_container input{
    background-color: inherit;
    border: none;
    border-bottom: var(--sidebar-text-color) 1.1px solid;
    color: var(--sidebar-text-color);
    width: 100%;
    align-self: center;
    height: 30px;
    font-size: 1.1em;
    text-indent: 0.5em;
}
.login_container .visitor_sidebar_buttons{
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: auto;
    grid-gap: 5%;
    overflow: hidden;
}

.login_container button {
    grid-column: 1 /span 1;
    background-color: transparent;
    color: #eff4f6;
    align-self: center;
    font-size: 1.0em;
    padding: 15% 5% 15% 5%;
    border-radius: 20%;
    border: 20%;
    border-color: #eff4f6;
    border-width: 20%;
}


.login_container button:hover {
    background-color: #395560;
    border-color: #395560;
    color: #eff4f6;
}

.login_container .signup{
    grid-column: 2 /span 1;
    background-color: transparent;
    color: #eff4f6;
    align-self: center;
    font-size: 1.0em;
    padding: 15% 5% 15% 5%;
    border-radius: 20%;
    border: 20%;
    border-color: #eff4f6;
    border-width: 20%;
}

.login_container .signup:hover{
    background-color: #395560;
    border-color: #395560;
    color: #eff4f6;
}

.sidebar_links {
    font-variant: small-caps;
}

.side_bar ul{
    padding: 1em;
    padding-right: 0;
    margin: 2em 0;
}

.side_bar a {
    text-decoration: none;
    color: var(--sidebar-text-color);
}

.side_bar a:hover {
    text-decoration: underline;
}

.library_info {
    width: 100%;
    text-align: center;
    align-self: flex-end;
}

.library_info h3, .library_info p {
    margin: 0.5em 0;
}

.library_info h3 {
    font-variant: small-caps;
}