/* Sidebar Styling */

.side_bar {
    padding: 1.5em;
    height: 100%;
    margin: 0;
    background-color: var(--mid-blue);
    color: var(--sidebar-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login_container {
    margin-bottom: 1em;
}

.login_container div{
    margin-top: 0.5em;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.login_container input{
    background-color: inherit;
    border: none;
    border-bottom: var(--sidebar-text-color) 1.1px solid;
    color: var(--sidebar-text-color);
    margin: 0 0.5em;
}

.login_container button {
    float: right;
    background-color: transparent;
    border: none;  
    color: var(--sidebar-text-color);
}

.login_container button:hover {
    text-decoration: underline;
}

.sidebar_links {
    font-variant: small-caps;
}

.side_bar ul{
    padding: 1em;
    margin: 2em 0;
}

.side_bar a {
    text-decoration: none;
    color: var(--sidebar-text-color);
}

.side_bar a:hover {
    text-decoration: underline;
}

.library_info {
    width: 100%;
    text-align: center;
    align-self: flex-end;
}

.library_info h3, .library_info p {
    margin: 0.5em 0;
}

.library_info h3 {
    font-variant: small-caps;
}