.user_loans_table {
    max-width: 90%;
    
}

.user_loans_table th{
    text-align: left;
    font-weight: normal;
    font-variant: small-caps;
    padding: 0 0.5em;
    font-size: 1.1em;
}

.user_loans_table td{
    padding: 0 0.5em;
}

.user_loans_table td a{
    color: inherit;
    text-decoration: none;
}

.user_prof_pic {
    display: inline-block;
    max-width: 10%;
}

.user_prof_pic_list {
    max-width: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    padding: 10px 0;
}

.left-info {
    grid-column-start: 1;
    grid-column-end: 3;
}