/* User List */

.user_info {
    padding: 0.5em;
}

.user_info h3 {
    font-variant: small-caps;
}
.loan_details{
    display: none;
}

.active .loan_details{
    display: block;
}
.loan_details ul{
    list-style-type: none;
    padding: 0.1em;
}

.user_info .loan_count {
    cursor: pointer;
}
